/*main css file*/


/*CSS para arranjar o padding do h1*/
#main-header {
    padding-top: 8px;
}

@media screen and (max-width: 1304px) and (min-width: 772px){
    #main-header {
        padding-top: 34px;
    }
}
@media screen and (max-width: 660px) {
    body {
        padding-top: 25px;
    }
}
@media screen and (max-width: 574px) {
    body {
        padding-top: 55px;
    }
}
